.subs-main-bg {
    background-color: #FFF1DE;
    margin: 50px auto;
    width: 200px;
    border-radius: 30px;
    padding: 50px;
    height: 65vh;
    width: 140vh;
}

.subs-text-bg {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFF1DE;
    text-align: center;
}

.subs-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 85vh;
    z-index: 1;
    margin-left: -7%;
}

/* text */
.subs-title {
    color: #FB9333;
    font-size: 25px;
    font-family: 'Poppins', sans-serif;
    z-index: 2;
}

.subs-description {
    color: #585858;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    z-index: 2;
}

.subs-text {
    color: #575757;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    z-index: 2;
}

/* input */
.subscribe-form {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 40px;
    padding: 10px;
    width: 45%;
    margin-top: 7%;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    z-index:2;
}

.email-input {
    flex: 1;
    border: none;
    outline: none;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 40px;
    z-index: 2;
}

.submit-button {
    background-color: #FB9333;
    color: #fff;
    border: none;
    border-radius: 40px;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    z-index: 2;
}


.subs-cursor {
    cursor: pointer;
    text-decoration: none;
}

.email-input:focus {
    border-color: #ffaa00;
}

.submit-button:hover {
    background-color: #cf7c2e;
}