.people-about-us {
    background-image: linear-gradient(to bottom right, #FFF6EA, #FFE8C780);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

/* dudes */
.review-card {
    background-color: #ffffff;
    border-radius: 15px;
    padding: 10px;
    margin: 25% 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
    max-width: 30%;
}

.review-card h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #333;
}

.review-card p {
    font-size: 1em;
    line-height: 1.5;
    color: #555;
    margin: 0;
}

.review-card img {
    margin-top: -35%;
}

.container-dudes {
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 20px;
}

.item-dudes {
    flex: 1;
}

/* people text */
.text-container {
    display: flex;
    flex-direction: column;
    padding: 5%;
}

.people-text-head {
    font-size: 70px;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
    padding-top: 10%;
}

.people-text-head span {
    color: #FB9333;
}

.people-text {
    font-size: 25px;
    font-weight: normal;
    color: #666;
    text-align: left;
    line-height: 1.6;
    font-family: 'Arial', sans-serif;
    margin: 0 auto;
}

/* page number */
.pages-container {
    padding-top: 5%;
    padding-bottom: 5%;
}

.page-number {
    font-family: 'Arial', sans-serif;
    font-size: 48px;
    font-weight: bold;
    color: #222;
}

.total-pages {
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    color: #aaa;
}

/* buttons */

.navigation-buttons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.button {
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    border: none;
    font-size: 24px;
    cursor: pointer;
    background: #ffcc80;
    color: #333;
}

.button:hover {
    background: #fb8c00;
    color: white;
}